Python - Data Structure Assignment

Ques 1. What are data structures, and why are they important

        - Data structure is a container or we can say is a way of organising
        and storing data so that can be accessed and manupulated effeciently.
        They are essential because they help manage data in an optimized way,
        making algorithms run faster and use memory efficiently.

        Examples of data structures:
        Lists – Dynamic arrays that allow fast insertions and deletions.
        Tuples – Immutable sequences that store multiple values.
        Dictionaries – Key-value pairs that allow fast lookups.
        Sets – Collections of unique elements that prevent duplicates.
        Stacks & Queues – Used in algorithms like recursion and scheduling.
        Trees & Graphs – Used in complex structures like file systems and
        social networks.
        
        Importance of data structures:
        They increase efficiency in operations like sorting and searching.
        They reduce memory usage by organizing data optimally.
        They enable complex problem-solving, like AI and databases.


Ques 2. Explain the difference between mutable and immutable data types with  examples

       -A mutable object can be changed after it is created, whereas an
       immutable object cannot be changed once created.

       Here are some examples:

       Mutable data types:

      Lists: You can add, remove, or change elements in a list after it's created.
      my_list = [1, 2, 3]
      my_list.append(4)
      print(my_list)  # Output: [1, 2, 3, 4]
      
      Dictionaries: You can add, remove, or change key-value pairs in a dictionary.
      my_dict = {"a": 1, "b": 2}
      my_dict["c"] = 3
      print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}
      
      Sets: You can add or remove elements from a set.
      my_set = {1, 2, 3}
      my_set.add(4)
      print(my_set)  # Output: {1, 2, 3, 4}
      Immutable data types:

      Strings: You cannot change individual characters in a string. If you want
      to modify a string, you need to create a new one.
      my_string = "hello"
      # my_string[0] = "H" # This would cause an error
      new_string = my_string.replace("h", "H")
      print(new_string)  # Output: Hello
      
      Tuples: You cannot change, add, or remove elements from a tuple after
      it's created.
      my_tuple = (1, 2, 3)
      # my_tuple[0] = 4 # This would cause an error
      Numbers (int, float, complex): Numbers are immutable.
      my_number = 10
      # my_number = 11 creates a new integer object, it doesn't modify the
      original one
      
      The key difference lies in how memory is managed. When you modify a
      mutable object, the change happens in the same memory location. When you
      "modify" an immutable object, you are actually creating a new object in a
      different memory location.



      

Ques 3. What are the main differences between lists and tuples in Python

       - List

         Mutable (can be changed)
         Slower (because of mutability)
         Takes more memory
         When frequent modifications are needed

        - Tuple

          Immutable (can be changed)
         Faster (because of mutability)
         Takes less memory
         When data should not change


         


Ques 4. Describe how dictionaries store data

       - Dictionaries in Python store data as key-value pairs using a hash
       table internally.

       Each key is hashed to generate a unique index, allowing for fast access.
       Unlike lists, dictionaries do not store elements in order.

Ques 5.Why might you use a set instead of a list in Python

      - You need to store a collection of unique items.
        You frequently need to check for the presence of an item in the collection.
        You need to perform mathematical set operations.
        The order of the elements does not matter.

Ques 6. What is a string in Python, and how is it different from a list
       
        - A string in Python is a sequence of characters.
        It is used to represent text.
        Strings are immutable, meaning that once a string is created, its
        contents cannot be changed.

        -A list in Python, on the other hand, is a mutable, ordered sequence  
         of  elements. These elements can be of any data type (including other
         lists, strings, numbers, etc.

Ques 7. How do tuples ensure data integrity in Python

        - Tuples are immutable, meaning once created, they cannot be changed.
        This prevents accidental modifications, making them ideal for storing
        constant values or database records.

Ques 8. What is a hash table, and how does it relate to dictionaries in Python

        - A hash table (also known as a hash map or dictionary) is a data
        structure that implements an associative array, which is a collection
        of key-value pairs. It allows for efficient storage and retrieval of
        data using a hash function

        How it Relates to Dictionaries in Python:

        -Python dictionaries (dict) are implemented using hash tables. When you
        create a dictionary and add key-value pairs, Python uses a hash
        function to calculate the hash code for each key. This hash code is
        then used internally to determine where in memory the key-value pair
        will be stored.

Ques 9. Can lists contain different data types in Python

      -Yes, Python allows lists to store multiple data types within a single list.

Ques 10. Explain why strings are immutable in Python
         
         -Strings in Python are immutable because:

         They are stored efficiently in memory (reducing overhead).
         They prevent accidental modification of data.
         They enable safe usage in dictionaries and sets (because they can be
         hashed).

Ques 11. What advantages do dictionaries offer over lists for certain tasks
         
         -1. Faster Lookups (O(1) vs. O(n))
             Dictionaries use a hash table to store key-value pairs, so
             retrieving a value by key takes constant time (O(1)).
             Lists require scanning (O(n)) to find an element.
         2. Meaningful Data Storage
            Dictionary keys act as labels, making data retrieval intuitive.
         3. No Duplicates in Keys
            Unlike lists, dictionaries prevent duplicate keys.

Ques 12. Describe a scenario where using a tuple would be preferable over a list
         
         Tuples are preferable when data should not be modified.
         Scenario 1: Storing Fixed Coordinates
         location = (40.7128, 74.0060)  # New York City latitude & longitude
         Coordinates should not change, so a tuple is ideal.
         Scenario 2: Dictionary Keys
         Tuples can be used as keys in dictionaries, while lists cannot.

         locations = {
        (40.7128, 74.0060): "New York",
        (34.0522, -118.2437): "Los Angeles"
}
        Lists cannot be used as dictionary keys since they are mutable.

Ques 13.  How do sets handle duplicate values in Python
          
          -Sets automatically remove duplicates when elements are added.

Ques 14. How does the “in” keyword work differently for lists and dictionaries
         For Lists (O(n))
        
        The in operator checks every element in the list, making it slow (O(n)).
        nums = [10, 20, 30, 40]
        print(20 in nums)  # True (searches through the list)
        For Dictionaries (O(1))
        The in operator checks only keys, making lookups fast (O(1)).
        my_dict = {"name": "Alice", "age": 25}
        print("name" in my_dict)  # True (direct hash table lookup)
        Important: in checks keys, not values.
        print("Alice" in my_dict)  # False

Ques 15. Can you modify the elements of a tuple? Explain why or why not
       
        - No, tuples are immutable, meaning elements cannot be changed after
          creation.

          Example:
          my_tuple = (1, 2, 3)
          my_tuple[1] = 5  # TypeError: 'tuple' object does not support item assignment
          Why?
          Prevents accidental modifications
          Optimized for speed and memory usage
          Allows safe use as dictionary keys
          However, if a tuple contains mutable elements, those can be modified:

          nested_tuple = ([1, 2, 3], "fixed")
          nested_tuple[0].append(4)  # Works, modifies list inside tuple
          print(nested_tuple)  # ([1, 2, 3, 4], 'fixed')

Ques 16. What is a nested dictionary, and give an example of its use case
         
        A nested dictionary is a dictionary inside another dictionary. It’s
        useful for storing hierarchical data.

        Example: Storing Student Records
        students = {
       "Alice": {"age": 22, "grade": "A"},
       "Bob": {"age": 24, "grade": "B"}
}
print(students["Alice"]["age"])  # Output: 22

Ques 17. Describe the time complexity of accessing elements in a dictionary
        
         Average case: O(1) (constant time lookup using a hash function)
         Worst case: O(n) (rare cases when hash collisions occur)
         Example:
         my_dict = {"a": 10, "b": 20, "c": 30}
         print(my_dict["b"])  # O(1) lookup

Ques 18. In what situations are lists preferred over dictionaries
         
         Before Python 3.7, dictionaries did not maintain order because they
         were implemented as hash tables.

         Effect:
         Unordered retrieval: Elements could appear in any sequence.
        Fast lookups: No need for sequential scanning like lists.

Ques 19. Why are dictionaries considered unordered, and how does that affect   
data retrieval

      Before Python 3.7, dictionaries did not maintain order because they were
      implemented as hash tables.

      Effect:
      Unordered retrieval: Elements could appear in any sequence.
      Fast lookups: No need for sequential scanning like lists.
      Example:
      d = {"z": 1, "x": 2, "y": 3}
      print(d)  # Before Python 3.7, order was unpredictable
      From Python 3.7+, dictionaries preserve insertion order.

Ques 20. Explain the difference between a list and a dictionary in terms of data retrieval.  

     List
     By numerical index (0, 1, 2...)
     O(1) by index, O(n) by value search
     Ordered(maintains insertion order)
    
     Dictionary

     By unique key (string, number, tuple)
     O(1) by key (average)
     Ordered (since Python 3.7, maintains insertion order)

Practical Questions

In [ ]:
#Ques 1.Write a code to create a string with your name and print it
string = "My name is Shraddha"
length = len(string)
print(length)

19

In [ ]:
#Ques 2.Write a code to find the length of the string "Hello World"
string = "hello world"
length = len(string)
print(length)

11

In [ ]:
#Ques 3.Write a code to slice the first 3 characters from the string "Python Programming"P
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [ ]:
 #Ques 4.Write a code to convert the string "hello" to uppercase
 string = "hello"
uppercase_string = string.upper()
print(uppercase_string) # Output: HELLO

HELLO

In [ ]:
string = "Shraddha"
uppercase_string = string.upper()
print(uppercase_string)

SHRADDHA

In [ ]:
#Ques 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"P
s = "I Like Apple"

# Replace "Apple" with "Orange"
s1 = s.replace("Apple", "Orange")

print(s1)

I Like Orange

In [ ]:
#Ques 6.Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]

# Printing the list
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#Ques 7.Write a code to append the number 10 to the list [1, 2, 3, 4]
# Define the list 'a'
a = [1, 2, 3, 4]
# Append "10" to the list
a.append(10)

In [ ]:
a

[1, 2, 3, 4, 10]

In [ ]:
#Ques 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]P
a.remove(3)

In [ ]:
a

[1, 2, 4, 10]

In [ ]:
#Ques 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
a = ['a', 'b', 'c', 'd']
second_element = a[1]
print(second_element)

b

In [ ]:
#Ques 10.Write a code to reverse the list [10, 20, 30, 40, 50]
# Defining the list
numbers = [10, 20, 30, 40, 50]

# Reversing the list
numbers.reverse()

# Printing the reversed list
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
#Ques 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
# Create a tuple
my_tuple = (100, 200, 300)

# Print the tuple
print(my_tuple)

(100, 200, 300)

In [ ]:
#Ques 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
# Defining the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Accessing the second-to-last element
second_last_element = colors[-2]

# Printing the result
print(second_last_element)

blue

In [ ]:
#Ques 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)

# Finding the minimum number
min_number = min(numbers)

print(min_number)

5

In [ ]:
#Ques 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

# Define the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
index = my_tuple.index("cat")

# Print the index
print(index)

1

In [ ]:
#Ques 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

# Create a tuple of fruits
fruits = ("apple", "banana", "orange")

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
  print("Kiwi is in the tuple.")
else:
  print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [2]:
 #Ques 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it
 # Creating a set with elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

print(my_set)

{'b', 'c', 'a'}

In [3]:
 #Ques 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
 # Creating a set with elements {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}

my_set.clear()

print(my_set)

set()

In [4]:
#Ques 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}
# Creating a set with elements {1, 2, 3, 4}
my_set = {1, 2, 3, 4}

my_set.remove(4)

print(my_set)

{1, 2, 3}

In [6]:
 #Ques 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
 # Creating two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
 #Ques 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
 # Creating two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print(intersection_set)

In [18]:
#Ques 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it

# Create a dictionary
my_dict = {"name": "Shraddha", "age": "28", "city": "Jaipur"}

print(my_dict)

{'name': 'Shraddha', 'age': '28', 'city': 'Jaipur'}

In [17]:
#Ques 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25

# Define the initial dictionary
my_dict = {'name': 'John', 'age': 25}

my_dict["country"] = "USA"

print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [13]:
#Ques 23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

# Define the dictionary
my_dict = {'name': 'Alice', 'age': 30}

name_value = my_dict["name"]

print(name_value)

Alice

In [16]:
#Ques 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Define the dictionary
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del my_dict["age"]

print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [19]:
#Ques 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

# Define the dictionary
my_dict = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists in the dictionary
if "city" in my_dict:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [20]:
# You can also use the `in` operator directly in a boolean context
print("city" in my_dict)

True

In [22]:
#Ques 26.Write a code to create a list, a tuple, and a dictionary, and print them all.

# Create a list
my_list = [1, 2, 3, 4]

# Create a tuple
my_tuple = (10, 20, 30)

# Create a dictionary
my_dict = {"name": "Alice", "age": 30}

# Print them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: (10, 20, 30)
Dictionary: {'name': 'Alice', 'age': 30}

In [24]:
#Ques 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[7, 19, 58, 71, 83]

In [27]:
#Ques 28.Write a code to create a list with strings and print the element at the third index

# Create a list of strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

print(my_list[3])

date

In [33]:
#Ques 29.Write a code to combine two dictionaries into one and print the result

# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine the dictionaries (using the update() method)
combined_dict = dict1.copy()
combined_dict.update(dict2)

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
#Ques 30.Write a code to convert a list of strings into a set.

# Create a list of strings
my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = set(my_list)


print(my_set)

{'date', 'apple', 'cherry', 'banana'}